<%- include ('partials/header') %>

  <!-- Search form -->
<div>
    <form id="homeSearch">
      <input class="form-control form-inline" type="text" placeholder="Enter an address, city, or ZIP code" aria-label="Search"><i class="fa fa-search" aria-hidden="true"></i>
    </form>
    <br>
</div>

<%- include ('partials/footer') %>
